body {
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

p {
	margin: 10px;
	font-size: 23px;
	text-align: right;
	font-family: 'LCD14'; 
	font-weight: normal; 
	font-style: normal; 
}

button {
	width: 55px;
	height: 45px;
	margin: 8px 6px;
	background: #5B6987;
	border: none;
	border-radius: 5px;
	box-shadow: 0 7px 0 #373a4f;
	color: #E4E4E4;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
}

button:hover {
	background: #535F7E;
}

button:active{
	box-shadow: 0 3px 0 #373a4f;
	transform: translateY(2px);	
}

div .row-1,
div .row-2,
div .row-3,
div .row-4,
div .row-5 {
	display: flex;
	justify-content: center;
 }

div .row-4 {
	height: 55px;
	width: 250px;
	position: absolute;
}

div .row-5 {
	justify-content: flex-start;
	margin-top: 62px;
}

.calc {
	border: 1px solid #888;
	width: 250px;
	padding: 15px;
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	border-radius: 5px;
	margin: 40px auto 30px auto;
}

.display {
	box-shadow: inset 0 6px 0 2px #7b887d;
	background: #ADBEB0;	
	border-radius: 5px;	
	padding: 5px 5px 10px 5px;
	height: 35px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #555;
}

.row {
	display: inline-block
}

.zero {
	width: 113px;
}

.dot {
	width: 50.5px;
}

.operator {
	background: #00ADA0;
	box-shadow: 0 7px 0 #00544B;
}

.btn.operator:active{
	box-shadow: 0 3px 0 #00544B;	
}

.btn.operator:hover {
	background: #00A094;	
}

.logo-box{
	display: flex;
}

.solar {
	background: #654C45;
	color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	border: 1px solid #43322D;
	box-shadow: inset 0px 3px 0px 1px #493630;
	font-size: 23px;
	line-height: 20px;
	height: 22px;
}

.periods {
	color: rgba(255, 255, 255, 0.0);	
}

#equals {
	height: 108px;
	background: #00749D;
	box-shadow: 0 7px 0 #003D54;
}

#equals:hover {
	background: #006C93
}

#equals:active{
	box-shadow: 0 3px 0 #003D54;
}

#clear,
#delete {
	background: #FC6868;
	box-shadow: 0 7px 0 #AD2C2C;
}

#clear:active,
#delete:active {
	box-shadow: 0 3px 0 #00544B;	
}

#logo {
	font-size: 20px;
	color: #555;
	text-align: left;
	font-family: 'Lobster', cursive;
	margin: 0 31px 0 0;
}